.Item-Completed {
  text-decoration: line-through;
  color: limegreen;
}

.Item-Todo {
  cursor: pointer;
}

.Todo-List-Filtered {
  display: table;
  margin: auto;
}

.Hidden-Everywhere {
  display: none;
}

.Filter-Label {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-right: 5px;
  padding: 0 5px;
}

.Filter-Label:last-child {
  margin-right: 0;
}

.Filter-Active {
  background: #cdcdcd;
  border-color: #000000;
}
